---
- name: Install general packageset inside Toolbx container
  become: true
  when: inventory_hostname in groups['toolbx']
  block:
    - name: '[General] Misc Toolset'
      ansible.builtin.dnf5:
        name:
          - below
          - htop
          - hyfetch
          - nyancat
          - ollama
          - optipng
          - yt-dlp
        state: present
...
